/* header navbar */
.label-danger {
    background-color: transparent;
}
.label.rounded {
    font-size: 14px;
    color: #b0adac;
}
.navbar-toolbar .navbar-right .dropdown > a > i {
    font-size: 15px;
    color: #81b71b
}

/* ASIDE */
.sidebar-menu .panel {
    margin-bottom: 0
}
.sidebar-menu .panel .panel-search {
    display: block;
    background: #323232
}

.ckbox.ckbox-theme {
    display: inline;
}

.breadcrumb {
    background-color : transparent;
    padding: 0
}
select#Category {
    width: 100%
}